<p>ｗelcome to<span>Bookers</span>!!</p>
<p>In<span>Bookers,</span></p>
<p>you can share and exchange your opinios, impressions, and emotions</p>
<p>about various books!</p>
<p><%= link_to 'Log in',new_user_session_path %></p>
<p><%= link_to 'Sign Up', new_user_registration_path %></p>